<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fc2.web.outofboundary.locations"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="16" />

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <activity android:name="com.fc2.web.outofboundary.locations.MainActivity" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service android:name=".ActivityIntentService"/>
        <provider android:name=".LocationProvider"
                  android:authorities="com.fc2.web.outofboundary.locations.provider"
                  android:exported="false" />

    </application>

</manifest>
